[submodule "contacts"]
	path = contacts
	url = git@github.com:aaronkaplan/contacts.cert.at.git
[submodule "torexitnodes_simple"]
	path = torexitnodes_simple
	url = https://github.com/aaronkaplan/torexitnodes_simple
[submodule "NIS-sectors"]
	path = NIS-sectors
	url = https://github.com/aaronkaplan/NIS-sectors.git
[submodule "ip2nat"]
	path = ip2nat
	url = git@github.com:aaronkaplan/ip2nat.git
[submodule "blocklists"]
	path = blocklists
	url = git@github.com:aaronkaplan/blocklists.git
