[submodule "contacts"]
	path = contacts
	url = git@github.com:aaronkaplan/contacts.cert.at.git
[submodule "torexitnodes"]
	path = torexitnodes
	url = git@github.com:aaronkaplan/torexitnodes.git
[submodule "torexitnodes_simple"]
	path = torexitnodes_simple
	url = https://github.com/aaronkaplan/torexitnodes_simple
